<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Medical History</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"/>
    <style>
        .img-fluid{
        height:40px;
        }

     .btnl a{
    color : White;
    font-weight: bold;
    text-decoration: none;
     }
        .my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit:cover;
	border-radius:50%;
}
tr:hover {background: #728FCE;}
td:hover {background: #2B65EC;}

    </style>
</head>
<body>
<header th:replace="Admin/adminBlock::adminHeader"></header>
<section>
    <div class="container my-2">
        <h1 class="text-primary" align="Center">Medical History Users List</h1>
        <table class="table table-striped table-bordered">
            <thread class="table-dark">
                <tr class="bg-primary" style="color:white">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thread>
            <tbody>

            <tr th:each="user:${listUsers}" onclick="orderRowClick(this)" style="cursor: pointer" >
                <td scope="row" hidden>
                    <a th:href="@{/mh/admin/userDetails/{id}(id=${user.id})}" title="Click Here! Display User History"></a>
                </td>
                <td >
                    <img class="my_profile_picture" th:src="*{'data:image/jpeg;base64,'+{user.profilePic}}" alt="profile photo" />
                    <span th:text="${user.name}"></span></td>
               <!-- <td th:text="${user.name}"></td>-->
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.gender}"></td>
                <td> <a th:href="@{/mh/admin/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                    <a  th:href="@{/mh/admin/softDeleteUser/{id}(id=${user.id})}" class="btn btn-danger" onclick="SuccessDelete();" >InActive</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- Bootstrap JS -->
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
document.addEventListener('click', function(){
  Swal.fire("Our First Alert");
});
</script>

<script>
  // Look for a link in the row and click on it
  function orderRowClick(row) {
     row.querySelector("a").click();
  }
</script>
<script src="sweetalert.min.js"></script>

<!--<script>
    function submitForm(form) {
        swal({
            title: "Are you sure?",
            text: "This form will be submitted",
            icon: "warning",
            buttons: true,
            dangerMode: true,
            timer: 15000000
        })
        .then(function (isOkay) {
            if (isOkay) {
                form.submit();
            }
        });

    }
</script>-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
function SuccessDelete() {
swal("Success!", "File successfully deleted.", "success").then(function(confirmed) {
if(confirmed) {
console.log("Ok button pressed, redirect here...");
}
});
}

SuccessDelete();</script>
</body>

</html>