<div class="col-md-12">
    <div class="card card-container">
      <div class="title">
        <h2>Login up to medicalhistory</h2>
      </div>
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
        <form (ngSubmit)="userLogin()">
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">userame</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="user.email">
               <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>-->
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="user.password">
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>-->
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Login</button>
                </div>
                
                <button class="btn btn-primary" type="button" routerLink="../login" routerLink="../">Cancel</button>
              </div>
                <p class="or">or</p>
                <div routerLink="../signup" class="login">signup</div>
            
        </form>
       
       
    </div>
</div>