<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Medical History</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"/>
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <style>
        .img-fluid{
        height:40px;
        }

     .btnl a{
    color : White;
    font-weight: bold;
    text-decoration: none;
     }
  .my_profile_picture{
	width:40px;
    height:40px;
	object-fit:cover;
	border-radius:40%;

}
.exl{
width: 40px;
	height: 40px;
	object-fit:cover;
	border-radius: 10px;


}

.btn:hover {
  opacity: 0.8;
color: white;
}
a#btnl {
  color: Red;
}
a#btnl:hover {
  color: Red;
}

    </style>
</head>
<body>
<header th:replace="User/userBlock::header1"></header>
<section>
<div class="container my-2 ">Welcome! <h3 th:text="${user.name}"></h3>
<!--    <img src="" class="my_profile_picture" th:src="*{'data:image/jpeg;base64,'+{user.profilePic}}" alt="profile picture" />-->
    <a th:href="@{/mh/user/records/addMedicalRecords}" class="btn btn-primary">Add Medical Records</a>

   <span style="float:right">
        <a th:href="@{/downloadExcelFile/{id}(id=${user.id})}">
        <img class="exl" th:src="@{/images/excel.png}" title="Full Excel Report Download"/></a>
       <!--<a th:href="@{/mh/user/export/pdf}" class="btn btn-success"> Download Full Report </a>-->
       <a th:href="@{/mh/user/export/pdf}" title="Full PDF Report Download">
        <img class="exl" th:src="@{/images/pdf.png}" /></a>
   </span>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thread class="table-dark">
            <tr style="background-color:Navy;color:white">
                <th>Disease Name</th>
                <th>Hospital Name</th>
                <th>Treatment Date</th>
                <th>Doctor Name</th>
                <th>Next Appointment</th>
                <th>Type Of Disease</th>
                <th>Medicine Name</th>
                <th>Report</th>
                <th>Download File</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="patients:${listPatients}" style="color:Navy">
            <td th:text="${patients.diseaseName}"></td>
            <td th:text="${patients.hospitalName}"></td>
            <td th:text="${patients.treatmentDate}"></td>
            <td th:text="${patients.doctorName}"></td>
            <td th:text="${patients.nexAppt}"></td>
            <td th:text="${patients.typeOfDisease}"></td>
            <td th:text="${patients.medicineName}"></td>
                <td><a th:href="@{'/mh/user/records/inLargeFile/'+${patients.pId}}">
                    <img class="reportFile" id="fileId" th:src="*{'data:image/jpeg;base64,'+{patients.report}}" onclick="showImage()" title="View Full Report"/></a>
                </td>
            <td><a th:href="@{'/mh/user/records/downloadFile/'+${patients.pId}}">Download</a></td>
        </tr>
        </tbody>
    </table>

<!--    Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled':''}">
                <a class="page-link" th:href="@{'/mh/index/'+ ${currentPage -1}}">Previous</a>
            </li>

            <li class="page-item" th:classappend="${currentPage == i -1 ? 'active':''}"
                th:each=" i: ${#numbers.sequence(1,totalPages)}">
                <a class="page-link" th:href="@{'/mh/index/'+${i -1}}"><span th:text="${i}"></span></a>
            </li>

            <li th:classappend="${currentPage +1 == totalPages ? 'disabled':''}" class="page-item">
                <a class="page-link" th:href="@{'/mh/index/'+ ${currentPage +1}}">Next</a>
            </li>

        </ul>
    </nav>

</div>
</div>
    </section>
<!--<footer th:replace="User/userBlock::footer1"></footer>-->
<!-- Bootstrap JS -->
</body>
<script>
    function showImage() {
            console.log("Calling showImage Function")
            document.getElementById('fileId')
                    .style.display = "block";
}}
</script>
</html>