<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Medical History</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"/>
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .img-fluid{
        height:40px;
        }

     .btnl a{
    color : White;
    font-weight: bold;
    text-decoration: none;
     }
       .my_profile_picture{
	width: 40px;
	height: 40px;
	object-fit:cover;
	border-radius:40%;
}

.btn:hover {
  opacity: 0.8;
color: white;

}
a#btnl {
  color: Red;
}
a#btnl:hover {
  color: Red;
}

    </style>
</head>
<body>
<header th:replace="User/userBlock::header1"></header>
<section>
<div class="container my-2 ">Welcome! <h3 th:text="${user.name}"></h3>
    <br>
    <a th:href="@{/mh/user/records/addMedicalRecords/{id}(id=${user.id})}" class="btn btn-primary">Add Medical Records</a>
    <a th:href="@{/downloadExcelFile/{id}(id=${user.id})}" id="btnl" class="btn btn-outline-warning"  >
        <i class="fa fa-file-excel-o" style="font-size:20px;color:red"></i>
        Excel Report</a>
<!--
    <a th:href="@{/downloadExcelFile/{id}(id=${user.id})}" class="fa fa-file-excel-o" style="font-size:40px;color:red"></a>
-->
    <br> <br>
    <table class="table table-striped table-bordered">
        <thread class="table-dark">
            <tr>
                <th>Disease Name</th>
                <th>Hospital Name</th>
                <th>Treatment Date</th>
                <th>Report</th>
                <th>Doctor Name</th>
                <th>Next Appointment</th>
                <th>Type Of Disease</th>
                <th>Medicine Name</th>

            </tr>
        </thread>
        <tbody>
        <tr th:each="patients:${listPatients}">
            <div>
            <td th:text="${patients.diseaseName}"></td>
            <td th:text="${patients.hospitalName}"></td>
            <td th:text="${patients.treatmentDate}"></td>
            <td th:text="${patients.report}"></td>
            <td th:text="${patients.doctorName}"></td>
            <td th:text="${patients.nexAppt}"></td>
            <td th:text="${patients.typeOfDisease}"></td>
            <td th:text="${patients.medicineName}"></td>
<!--            <td>-->
<!--                <a th:href="@{/mh/records/AddMedicine/{id}(id=${patients.id})}" class="btn btn-primary">Add Medicine</a>-->
<!--            </td>-->
            </div>
        </tr>
        </tbody>
    </table>
</div>
    </section>
<!--<footer th:replace="User/userBlock::footer1"></footer>-->
<!-- Bootstrap JS -->
</body>

</html>