<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>fragments block file</title>
    <div th:fragment="bootstrapCSS">

        <style>
        .img-fluid{
        height:40px;
        }

     .btnl a{
    color : White;
    font-weight: bold;
    text-decoration: none;
     }

        </style>
        <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet"/>
        <!-- Bootstrap CSS -->
        <link href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>


    </div>
</head>
<body>

<!--Header for the user-->
<header th:fragment="header1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container" th:object="${user}">
            <a class="navbar-brand" href="#"><img alt="Logo" class="img-fluid" style="height:40px"
                                                  th:src="@{/images/icon.png}"/></a>
            <span style="color:white">Medical History </span>
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active"
                           th:href="@{/mh/index}">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mh/user/contactUs/{id}(id=${user.id})}">Contact Us</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="dropdown">
                        <button aria-expanded="false" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                                id="dropdownMenuButton" style="margin-right:8px" th:text="${user.name}"
                                type="button"></button>
                        <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/mh/user/viewUserProfile/{id}(id=${user.id})}">View
                                Profile</a></li>
                             <li><a class="dropdown-item" th:href="@{/mh/ChangePassword/{id}(id=${user.id})}">Change
                                Password</a></li>
                        </ul>
                    </div>
                    <button class="btnl btn-danger "><a  th:href="@{/logout}">Log Out</a></button>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--header for the home page-->
<header th:fragment="registerUserHeader">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#"><img alt="Logo" class="img-fluid" style="height:40px;"
                                                  th:src="@{/images/icon.png}"/></a>
            <span style="color:white">Medical History </span>
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active"
                           th:href="@{/mh/}">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mh/contactUS}">AboutUs</a>
                    </li>
                </ul>

                <a class="btn btn-warning" th:href="@{/mh/login}">Login</a>
                <a class="btn btn-success " style="margin-left:20px" th:href="@{/mh/register}">SignUp</a>
            </div>
        </div>
        </div>
    </nav>
</header>


<header th:fragment="header2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container" th:object="${user}">
            <a class="navbar-brand" href="#"><img alt="Logo" class="img-fluid" style="height:40px"
                                                  th:src="@{/images/icon.png}"/></a>
            <span style="color:white">Medical History </span>
            <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active"
                           th:href="@{/mh/index}">Home</a>
                    </li>
                </ul>

                <div class="d-flex">

                    <div class="dropdown">
                        <ul aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                          
                        </ul>
                    </div>
                    <button class="btnl btn-danger "><a  th:href="@{/logout}">Log Out</a></button>


                </div>
            </div>
        </div>
    </nav>
</header>





<div th:fragment="script">
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
