<div >
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
<div class="head-title"><b> Manage all your medicalhistory at one point by login or signup</b></div>
        <button class="btn btn-primary me-md-2" type="button" routerLink="../login">Login </button>
        <button class="btn btn-primary" type="button" routerLink="../signup">Sign up</button>
      </div>
      <h1 class="title">medicalhistory
        <img style="float: left;" class="images" [src]="IconImage">
      </h1>

      
</div>
<div class="homebottom"><br>
  
  <Address class="addres">
    <h2>Address:</h2>
    medicalhistory,<br>
    infotech park,<br>
    Lulu building,<br>
    MG Road,<br>
    bangalore,<br>
    karanataka,<br>
    India,743229.<br>
  </Address>
<p class="inline"> @2022 medicalhistory All Rights Reserved </p>
</div>


