label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 550px !important;
    padding: 30px 40px;
  }
  
  .card {
    background-color: #a0a73f04;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(15, 158, 224);
    border-radius: 4px;
  }
  
  .form-grou {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .title {
    text-align: center;
  }
  .alert-danger {
    color: red;
  }
  .radio {
    display: -moz-groupbox;
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    text-align: start;
  }
  
  .butt {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 41px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .butt:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .butt {
      padding: 10px 30px;
    }
    .or {
      text-align: center;
    }
  }
  .login {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 41px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .login {
      padding: 10px 30px;
    }
  }
  .title {
    text-align: center;
    background-color: rgb(209, 185, 185);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
  }
  .titles{
    text-align: center;
    background-color: rgb(216, 219, 201);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
  }