<h1 class="title">medicalhistory
  <img style="float: left;" class="images" (click)="home()" [src]="IconImage">
</h1>
<div class="col-md-12">
    <div class="card card-container">
      <div class="titles">
        <h2>ChangePassword</h2>
      </div>
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        
        (ngSubmit)="getchangepassword()"
       
      >
        <div class="form-group">
          <label for="exampleFormControlInput1" class="form-label">userame</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            [(ngModel)]="email"
           
          />        
         
          
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="form-label"
            >Old Password</label
          >
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter old password"
            [(ngModel)]="oldpassword"
           
          />
          
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label"
              >New Password</label
            >
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Enter new password"
              [(ngModel)]="newpassword"
             
            />
            
          </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="form-group">
            <button  class="btn btn-primary btn-block">Change Password</button>
          </div>
  
          <button
            class="btn btn-danger"
            type="button"
            routerLink="../home"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  
