<div class="col-md-12">
  <div class="card card-container">
    <div class="title">
      <h2>Sign up to medicalhistory</h2>
    </div>
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
  <form (ngSubmit)="userRegister()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="user.name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">age</label>
      <input type="text" class="form-control" id="age" name="age" placeholder="Enter age" [(ngModel)]="user.age" >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="user.email" >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone number" [(ngModel)]="user.phone">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password">
    
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Conform Password</label>
      <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="conform password" [(ngModel)]="user.cpassword" >
    </div>
  
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male" [(ngModel)]="user.gender">
        <label class="form-check-label" for="exampleRadios1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="femail" value="femail" [(ngModel)]="user.gender">
        <label class="form-check-label" for="exampleRadios2">
        Female
        </label>
      </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
        <button class="btn btn-primary" type="button" routerLink="../signup" routerLink="../medicalhistory">Cancel</button>
      </div>
        <p class="or">or</p>
        <div routerLink="../login" class="login">Login</div>  
      </form>
  </div>