<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Medical History's Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css"/>
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
    <header th:replace="User/userBlock::registerUserHeader"></header>
</head>
    <style>



a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
</style>
<body>
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-right">

                        <form id="login-form" method="post" th:action="@{/login}">

                        <center><h3 class="mb-5">Sign in</h3></center>
<!--                            Error Message-->
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">Invalid username or password</div>
                            </div>

                            <!-- logout message -->
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">You have been logged out</div>
                            </div>


                        <div class="form-outline mb-4">
                            <label class="form-label" for="username">Email</label>
                            <input type="text" name="username" id="username" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control form-control-lg" />
                        </div>

                          <center><button class="btn btn-success btn-lg btn-block" type="submit">Sign in</button></center>
                
                             <div >
                                <a class="btnlink" style="float:left"  href="/" th:href="@{/mh/forgotPassword}">Forgot Password</a>
                          </div>
                        <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
